
.bg-main {
  background-color: #074a8b;
}

.btn-eublue3 {
  background-color: #5f9ed1;
}

.text-main {
  color: #1ba3c9 !important;
}
/* .text-main {
  color: #5f9ed1 !important;
} */

colorblind_palette {
  color: #0468ac;
  color: #5f9ed1;
  color: #a1c8ef;
  color: #ca5100;
  color: #ff800f;
  color: #ffbb7a;
  color: #262626;
  color: #595959;
  color: #ababab;
  color: #cfcfcf;
}


colors_eudataportal {
  color: #29357f;
  color: #074a8b; 
  color: #0065a2;
  color: #1986dc;
  color: #1ba3c9;
  color: #51aee5;
  color: #f2532a;
  color: #f06933;
  color: #f4a01b;
}

