body {
    background:white !important;
  }
.autocomplete-items {
  max-height: 40px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
} 
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}


/* Custom page CSS (Not required)
--------------------------------------------- */

#exampleContainer {
  padding: 50px;
}

/* .container{
  display:grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 200px 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-gap:10 px;
  grid-template-areas: 
  "hd"
  "map"
  "tables"
  "treemap";
  border: 2px solid yellow;
} */
.container-full {
  display: grid;
  background:white;
  grid-template-columns: auto;
  grid-template-rows: 20px 1fr 1fr;
  grid-template-areas: 
    "hd"
    "tsc"
    "mt";
  width: 100vw;
/*   width: 100vw;
  height: 100vh; */
}

.header{
  display:grid;
  /*grid-template-columns: 200px 300px 300px;*/
  grid-template-columns:auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "about title title title title title title social";
  grid-area:hd;
}
.title-search-circle{
    display:grid;
    grid-template-rows: 40px 80px 1fr;
/*     grid-template-columns:auto; */
/*     grid-template-rows: auto; */
    grid-template-areas: 
   /*  "tc tc tc tc"
    "search search search search"
    "circle circle circle circle"; */
    "tc tc tc tc"
    "search search search search"
/*     "sf sf sf sf" */
    "circle circle circle circle";
    grid-area:tsc;
    justify-content: center;
    background:white;
  }

.map-table{
    display:grid;
    /*grid-template-columns: 200px 300px 300px;*/
   /*  padding: 20px; */
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "tml tml tml tml"
    "btd btd btd btd";
    grid-area:mt;
    background:white;
  }

.title-map-legend{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns:auto;
    grid-template-rows: 40px 300px 80px;
    /* grid-template-rows: auto; */
    grid-template-areas: 
    "tm tm tm tm"
    "map map map map"
    "legend legend legend legend";
    grid-area:tml;
}

.buttons-table-download{
    display:grid;
    /*grid-template-columns: 200px 300px 300px;*/
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "bt bt bt bt bt bt bt bt"
    "tb tb tb tb tb tb tb tb"
    "dw dw dw dw dw dw dw dw";
    flex-direction: column;
    justify-content: left;
    align-items: left;
    grid-area:btd;
}
.buttons{
    display:grid;
    /*grid-template-columns: 200px 300px 300px;*/
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nr nr nr nr nr nr nr nr"
    "pb pb pb pb pb pb pb nb";
    grid-area:bt;
}

.about{
  display: flex;
  justify-content: right;
  align-items: top;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  grid-area:about;
}
.social-media{
  display: flex;
  justify-content: right;
  align-items: top;
  /* padding-right: 20px; */
  grid-area: social;  
}
.title-dashboard{
  grid-area: title;  
}
.title-circle{
/*   margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: tc;
  background:white;
/*   min-height:100%; */
}
.search{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sf sf sf sf";
    grid-area: search;
    background:white;
}    
.search-form{
    display:grid;
    grid-template-columns: 1fr 300px 200px 50px;
    /* grid-template-rows: 100px; */
    /* grid-template-columns:auto; */
    /* grid-template-rows: 300px 1fr; */
    grid-template-areas: 
    ". is bs .";
    grid-area: sf;
    background:white;
    /* padding-bottom: 0px; */
/*     min-height:100%; */

    justify-content: center;
  }
.input-search{
    align-self: center;
    grid-area: is;
    background:white;
    justify-content: center;
  }
.bt-search{
    grid-area: bs;
    background:white;
    height:40px;
    width:150px;
  }
.circle{
    grid-area: circle;
    background:white;
    padding-left: 20px;
  }
.title-map{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: tm;
  background:white;
}
.map{
    grid-area: map;
    background:white;
    padding-right: 20px;
    padding-left: 20px;
}
.legend{
    grid-area: legend;
    background:white;
  }

.nr-records{
    grid-area:nr;
    background:white;
    justify-content: center;
  }
.previous-button{
    grid-area: pb;  
    background:white;
  }
.next-button{
    grid-area: nb;  
    background:white;
/*     justify-content: right; */
  }
.table-proj{
    grid-area: tb;  
    background:white;
    padding-right: 20px;
    padding-left: 20px;
  }
.download{
  display: flex;
  grid-area: dw;  
  background:white;
  justify-content: center;
  align-items: center;
  }
/* #wordcloud{
    border: 1px solid red;
    } */
/* .box{
    border: 1px solid red;
    } */
/* If Screen Is Wide Enough */
@media(min-width:900px){
.container-full {
    display: grid;
/*     grid-template-columns: 400px 1fr; */
/*     grid-template-rows: auto; */
    /*grid-template-columns: 680px 1fr;*/
    grid-template-columns:auto;
    /*grid-template-rows: 1fr 680px;*/
    grid-template-rows:auto;
    grid-column-gap: 20px;
    background:white;
    grid-template-areas: 
    "hd hd "
    "tsc mt";
/*     grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "tsc tsc tsc tsc mt mt mt mt"; */

    /*     "treemap treemap treemap treemap"; */
/*     width: 100vw;
    height: 100vh; */
    }
/* .container-full{
      display:grid;
      grid-template-columns: 300px 300px; 
      grid-template-rows: auto;
      grid-template-areas: 
      "hd hd"
      "map tables"
      "treemap" "treemap";
      width: 100vw;
      height: 100vh;
  }
.container-middle {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "hd hd hd hd"
      "map map tables tables"
  }
.container-intro{
      display:grid;
      grid-template-columns: auto; 
      grid-template-rows: auto;
      grid-template-areas: 
      "hd"
      "map";
  }
  .header{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "about title title title title title social";
    grid-area:hd;
  } */
}
/* .d3-tip {
  position: absolute;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
} */

.mainTooltip {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: #eaecf0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 99999; 
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}