#year_custom-handle {
  background-color:#9de2a9; 
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  /* font-size: small; */
  line-height: 1.6em;
}


#year_slider .slider-selection { background: #ef2929; }

/* #year_slider .slider-selection {
	background: yellow; 
}*/

th.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* table {
  table-layout: fixed;
  word-wrap: break-word;
} */

.filter {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
  /* padding: 0px; */
  /* top: 0px; */
  /* background: rgb(152, 199, 236); */
}

.div-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .div-wrapper {
  width: 100%;
  padding-bottom: 75%;
  background: gold; 
} */

/* @media screen and (max-width:700px) {
  #donutChart div{padding:80% 0 0}
  #sources_legend div{padding:80% 0 0}
} */

/* #sources_legend {
  width: 250;
  height: 150;
}

#sources_legend {
  width: 250;
  height: 150;
} */


.stats {
  /* background-color: #d1d1d1;   */
  background-color: #ebe9e9;  
  /* border-color: #ffffff; */
  /* border-width: 0mm; */
  border-color: #2b2a2a;
}

/* ddd2d2 */

/* .framed {
  border: 1px solid black;
} */

input:focus, textarea {
  outline: none !important;
}

/* 9dd2e2 */

#chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
  height:50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}

body {
  background-color: #F1F3F3    
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}


circle:hover {
  fill: #f4f3f3;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}

.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.download-selection-btn {
  /* background-color: DodgerBlue; */
  border: none;
  color: #00838f ;
  /* padding: 12px 30px; */
  cursor: pointer;
  font-size: 12px;
}

/* Darker background on mouse-over */
/* #download-selection-btn:hover {
  color: white;
  background-color: #4dd0e1 ;
} */


#download-all-btn {
  /* background-color: DodgerBlue; */
  border: none;
  color: #00838f ;
  /* padding: 12px 30px; */
  cursor: pointer;
  font-size: 12px;
}

#download-meta-btn {
  /* background-color: DodgerBlue; */
  border: none;
  color: #00838f ;
  /* padding: 12px 30px; */
  cursor: pointer;
  font-size: 12px;
}

#barChartEC {
  display: block;
  max-width:240px;
  max-height:160px;
  width: auto;
  height: auto;
  align-content: center;
}

#valuesEC {
  display: block;
  max-width:240px;
  max-height:160px;
  width: auto;
  height: auto;
}

#barChartorgCount {
  display: block;
  max-width:240px;
  max-height:160px;
  width: auto;
  height: auto;
}


#dashdescript {
  display: none;
}

/* #dashtitle:hover #dashdescript {
  display: block;
} */

/* #selections .col-md-4 {
	padding-top: 10px;
	padding-bottom: 10px;
} */

.btn:hover {
  border-color : white;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.myborder {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

/* dropdown social media button */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: absolute;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1986dc;
  min-width: 160px;
  border-radius: 5px;
  font-family: sans-serif;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #1986dc;
} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .btn:hover, .dropdown:hover .btn  {
  background-color: #1986dc;
} */

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
} */

/* .fa:hover {
    opacity: 0.7;
} */