
th.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:#5f9ed1;
  /* background-color: #58b1be!important; */
  border: 1px;
  border-color: rgb(20, 20, 20); 
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
  /* padding: 0px; */
  /* top: 0px; */
  /* background: rgb(152, 199, 236); */
}


#download-selection-btn {
  /* background-color: DodgerBlue; */
  border: none;
  color: #5f9ed1 ;
  /* padding: 12px 30px; */
  cursor: pointer;
  font-size: 12px;
}


.div-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}